* {
  margin: 0;
  padding: 0;
}

body {
  background: #191765;
  overflow-x: hidden;
}

/* header style */
.my-info nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.my-info nav a {
  list-style-type: none;
  text-decoration: none;
  padding: 17px 25px;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.my-info ul {
  display: none;
}

/* front-page style */

.front-page {
  background-image: url(./images/front-page.png);
  background-repeat: no-repeat;
  background-position: top -20px left 0;
}

/* mobile-menu style */
.mobile-menu {
  display: none;
  position: fixed;
  background: #191765;  
  top: 0;
  height: 100%;
  width: 100%;
  padding: 86px 96px 106px 0;
}

.mobile-menu ul {
  list-style-type: none;
}

.mobile-menu li {
  margin: 30px 0 0 15px;
}

.mobile-menu a {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.mobile-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-hr span {
  color: #fff;
  margin: 46px 25px 10px 2px;
}

.close-btn {
  position: absolute;
  font-size: 50px;
  left: 326px;
  top: 8px;
  color: #67798e;
  font-weight: 700;
  cursor: pointer;
}

#error {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.front-page h1 {
  color: #7d73fc;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.37px;
  line-height: 72px;
  padding: 62px 0 30px 2px;
}

.front-page h3 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #edecff;
  line-height: 44px;
}

.front-page p {
  color: #c8c8d4;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  padding: 30px 27px;
  margin-top: 28px;
}

hr {
  width: 85.5%;
  border: 1px solid #646369;
  align-items: center;
  margin: 5px auto;
}

.tech {
  background-image: url(./images/front-page2.png);
  background-repeat: no-repeat;
  background-position: top 8px right 0;
  display: flex;
  flex-wrap: wrap;
}

.tech li {
  flex-grow: 1;
  min-width: 100px;
  padding: 20px 0 10px 53px;
  list-style-type: none;
  color: #f5f5ff;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.tech ul {
  margin: 10px 0;
}

.social-icons li {
  list-style-type: none;
  padding-right: 15px;
}

.recent-work ul li {
  list-style-type: none;
  border-right: 1px solid #555;
  height: 19px;
  width: 70px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 5px 12px 10px 13px;
}

.tech li:first-child {
  font-size: 12px;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #9490ff;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin: 60px 0 30px 0;
}

.language p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  color: #a2a3ae;
}

.arrow {
  display: flex;
  justify-content: center;
}

.arrow p {
  padding-right: 10px;
}

.work h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 52px;
  font-size: 40px;
  color: #9490ff;
  margin: 67px 15px 35px 24px;
  padding-right: 15px;
}

.box {
  width: 325px;
  height: 219px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 60px auto;
}

.recent-work1 {
  background-image: url(./images/recent.png);
  background-repeat: no-repeat;
  background-position: top -106px left -73px;
  background-size: 280px;
}

.recent-work2 {
  background-image: url(./images/recent2.png);
  background-repeat: no-repeat;
  background-position: top 73px right -8px;
  background-size: 180px;
}

.recent-work3 {
  background-image: url(./images/recent3.png);
  background-repeat: no-repeat;
  background-position: top 189px left -7px;
  background-size: 269px;
}

.recent-work4 {
  background-image: url(./images/recent4.png);
  background-repeat: no-repeat;
  background-position: top 180px right -8px;
  background-size: 210px;
}

.recent-work h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  font-size: 32px;
  color: #fff;
  padding-left: 24px;
}

.recent-work p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  padding: 52px 22px 22px 24px;
}

.recent-work ul {
  display: flex;
  justify-content: space-around;
  margin: 15px 0 20px 8px;
}

.recent-work ul li:last-child {
  border: hidden;
}

/* button syle */
.btn {
  height: 50px;
  width: 95px;
  border: 1px solid #7d73fc;
  background: #7d73fc;
  margin-left: 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
}

.btn:enabled {
  background: #7d73fc;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #172b4d;
  color: #7d73fc;
  cursor: pointer;
}

.btn:active {
  background: #7d73fc;
  color: #fff;
}

.contact h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  font-size: 32px;
  color: #9390ff;
  text-align: center;
  margin-top: 120px;
  padding-top: 2px;
}

.contact .chart {
  display: none;
}

.contact p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 11px 24px 20px 24px;
  color: #f5f5ff;
}

.mail {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 11px 24px 20px 24px;
  color: #f5f5ff;
}

/* form style */
.input-details {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  color: #fff;
  margin: 11px 11px 20px 27px;
  list-style-type: none;
}

input {
  border: 1px solid #cfd8dc;
  padding: 15px 0 15px 15px;
  width: 90%;
}

.text-area {
  align-items: center;
  margin: 11px 10px 35px 27px;
  list-style-type: none;
}

textarea {
  border: 1px solid #cfd8dc;
  overflow: auto;
  outline: none;
  padding: 20px 0 0 15px;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #81818c;
  font-weight: normal;
  font-size: 15px;
  list-style-type: none;
  width: 90%;
}

.terminal-button {
  text-align: center;
  margin: 10px 0 70px 0;
}

.contact hr {
  width: 100%;
  background: #3a3837;
}

.terminal-line hr {
  width: 28%;
  border: 2px solid #0d151e;
  align-items: center;
  margin: 10px auto;
}

.mobile-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.16);
  height: 726px;
  margin: 20px 20px 10px 20px;
  padding-top: 30px;
  width: 90%;
}

.mobile-popup h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  font-size: 32px;
  color: #fff;
  padding-left: 24px;
}

.mobile-popup p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 17px;
  color: #fff;
  text-align: center;
  padding: 14px 10px 14px 24px;
}

.mobile-popup .popup-image img {
  margin:  10px 12px 10px 24px;
}

.mobile-popup ul {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.mobile-popup ul li {
  list-style-type: none;
  padding: 10px 12px 10px 12px;
  border: 1px solid #81818c;
  color: #fff;
  border-top-style: hidden;
  border-bottom-style: hidden;
}

.popup-button1 button {
  margin: 10px;
  height: 43px;
}

.popup-button2 button {
  margin: 10px;
  height: 43px;
  width: 118px;
  /* width: 90px; */
}

.popup-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px 40px 2px 40px;
  align-items: center;
}

@media (max-width: 320px) {
  .mobile-popup .popup-image img {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .tech {
    background-image: none;
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 10px;
    margin: 10px 12px 10px 42px;
  }

  .work h1 {
    text-align: center;
  }

  .mobile-popup .popup-image img {
    width: 734px;
    height: 348px;
  }

  .mobile-popup {
    width: 80%;
    margin: 12px 67px 10px 80px;
    align-items: center;
  }

  .mobile-popup p {
    width: 451px;
  }

  .popup-btn {
    display: flex;
    flex-direction: row;
  }

  .popup-button2 button {
    width: 120px;
  }

  .popup-button1 button {
    width: 120px;
  }

}

/* desktop style */
@media (min-width: 1024px) {
  .my-info .harmburger {
    display: none;
  }

  .my-info .name {
    padding-left: 80px;
  }

  .my-info ul {
    display: flex;
    margin: 20px 70px 10px 0;
  }

  .my-info li {
    list-style-type: none;
  }

  .my-info ul li a {
    font-size: 15px;
  }

  .section-one {
    background-image: url(./images/circle\ 1\ header@2x.png), url(./images/circle\ 2\ header@2x.png);
    background-repeat: no-repeat;
    background-position: top 95px left 20px, top 320px right 20px;
    background-size: 170px;
  }

  .front-page {
    background-image: none;
  }

  .tech {
    background-image: none;
    display: flex;
    justify-content: center;
    padding: 10px 20px 10px 10px;
    margin: 10px 12px 10px 42px;
  }

  .tech ul {
    align-items: center;
    text-align: center;
    margin-right: 35px;
  }

  .tech li {
    padding: 20px 0 10px 15px;
  }

  .front-page p {
    width: 40%;
    text-align: center;
    margin: 0 auto;
  }

  .front-page hr {
    width: 40%;
  }

  .language hr {
    width: 40%;
  }

  .box {
    width: 665px;
    height: 372.6px;
    margin: 30px 24px;
  }

  .multi-post {
    width: 570px;
    padding-top: 48px;
  }

  .work h1 {
    padding: 28px 5%;
  }

  .recent-work1 {
    display: flex;
    padding: 0 5%;
  }

  .multi-post h2 {
    line-height: 36px;
    font-size: 30px;
    color: #fff;
    padding: 24px 10px 20px 22px;
  }

  .recent-work p {
    font-size: 20px;
    line-height: 22px;
    color: #dcdce8;
    padding: 2px 22px 22px 24px;
  }

  .recent-work2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 5%;
  }

  .recent-work3 {
    display: flex;
    padding: 0 5%;
  }

  .recent-work4 {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 5%;
  }

  .recent-work ul {
    display: flex;
    justify-content: center;
    margin: 15px 0 20px 8px;
  }

  .contacts-us {
    display: none;
  }

  .contact .chart {
    display: block;
  }

  .contact p {
    width: 620px;
    text-align: center;
    margin: 10px auto;
  }

  .form {
    margin-left: 49px;
  }

  .form li {
    width: 640px;
    align-items: center;
    margin: 10px auto;
    padding: 10px 0;
  }

  .social {
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    align-items: center;
  }

  .mail {
    margin: 40px 0;
    color: #ebebff;
    padding: 20px 0;
  }

  .terminal-line {
    display: none;
  }

  .social-icons {
    margin: 20px 10px 15px 34px;
  }
}
